<nav class="nav">
  <a routerLink="/scan" class="nav__link">
    <i class="material-icons nav__icon">photo_camera</i>
    <span class="nav__text">Qr Scan</span>
  </a>
  <a routerLink="/formulaire" class="nav__link nav__link--active">
    <i class="material-icons nav__icon">person_add</i>
    <span class="nav__text">Nouveau client</span>
  </a>
  <a routerLink="/clients" class="nav__link">
    <i class="material-icons nav__icon">people</i>
    <span class="nav__text">Dashboard</span>
  </a>
  <a routerLink="/colis" class="nav__link">
    <i class="material-icons nav__icon">inventory_2</i>
    <span class="nav__text">Mes outils</span>
  </a>
</nav>

