<div class="container">
  <div
    *ngIf="selectedClient; then afficherLeClient; else afficherLesClients"
  ></div>

  <ng-template #afficherLesClients>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-center mb-4">Nos Clients</h4>
          <div class="table-wrap">
            <table class="table table-responsive table-hover">
              <thead class="thead-primary">
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Addresse</th>
                <th>Télephone</th>
                <th>. . . </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let client of myData">
                <th scope="row" class="scope border-bottom-0">{{ client.attributes.name |uppercase }}</th>
                <td class="border-bottom-0">{{ client.attributes.surname }}</td>
                <td class="border-bottom-0">{{ client.attributes.address }}</td>
                <td class="border-bottom-0">{{ client.attributes.phoneNumber }}</td>
                <td class="border-bottom-0"><a (click)="onSelected(client)" id="button" class="btn btn-outline-success">plus</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #afficherLeClient class="clientDetails">
    <div>
    <app-client-details [client]="selectedClient"></app-client-details>
    <button type="button" class="btn btn-outline-success" (click)="back()">retour</button>
    </div>
  </ng-template>
</div>
