<div *ngIf="scanResult; then client; else camera"></div>

<ng-template #camera>
<zxing-scanner (scanSuccess)="onCodeResult($event)" ></zxing-scanner>
</ng-template>

<ng-template #client>
<div class="infos" >

  <mat-card class="Clientcard">
    <mat-card-header>
      <mat-card-subtitle>Client {{redirectUser.attributes.id}}</mat-card-subtitle>
      <mat-card-title>{{redirectUser.attributes.name | uppercase}}  {{redirectUser.attributes.surname}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Email : {{ redirectUser.attributes.email }}</p>
      <p>Adresse : {{ redirectUser.attributes.address }}</p>
      <p>Téléphone : {{ redirectUser.attributes.phoneNumber }}</p>


      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="determinate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
  <mat-card class="coli">
    <mat-card-content>
      <h2>colis</h2>
      <h3>Descriptif :</h3>
      <h3>Date Réception :</h3>
      <h2>Etat Envoi</h2>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="determinate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
  <mat-card class="buttonCard">
    <mat-card-actions >
      <button mat-button  class="button" (click)="reinitialiser()">Fermer</button>
    </mat-card-actions>
  </mat-card>
</div>
</ng-template>
