<div class="container">
  <div *ngIf="isCameraExist; else noCameraExist">
    <div class="buttonGroup">
      <button type="button" (click)="takeSnapShot()" class="">
        Prendre une photo
      </button>
      <button type="button" (click)="turnWebcam(true)" class="">
        changer Camera
      </button>
      <button type="button" (click)="onOffCamera()" class="">ON/OFF</button>
    </div>
  </div>
  <webcam
    [height]="200"
    [width]="500"
    [trigger]="triggerObservable"
    (imageCapture)="handleImage($event)"
    *ngIf="showWebcam"
    [switchCamera]="nextWebcamObservable"
  ></webcam>
</div>
<div *ngIf="errors.length > 0">
  <h2>Messages d'erreurs :</h2>
  <ul *ngFor="let error of errors">
    <li>{{ error | json }}</li>
  </ul>
</div>

<ng-template #isCameraExist>
  <p>camera work</p>
</ng-template>

<ng-template #noCameraExist>
  cam dont work
</ng-template>
