



  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-center mb-4">Notre Clientèle</h4>
        <div class="table-wrap">
          <table class="table table-responsive table-hover">
            <thead class="thead-primary">
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Téléphone</th>
              <th>Adresse</th>
              <th>Plus</th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <th scope="row" class="scope border-bottom-0">.me</th>
              <td class="border-bottom-0">1 Year</td>
              <td class="border-bottom-0">$45.00</td>
              <td class="border-bottom-0">$5.00</td>
              <td class="border-bottom-0"><a href="#" class="btn btn-secondary">plus</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

