.qrCode{
    width: 200px;
    height: 50px;
}
.qrCode button{
    font-size: xx-small;
}
.reset{
    margin: 10px ;
    width: 70px;
    height: 30px;
    font-size: xx-small;
}
.reset button{
    font-size: xx-small;
}
.infos{
    display: flex;flex-direction: column;
    font-size:medium;
}

