<form #usersForm="ngForm" (ngSubmit)="getUsersFormData(usersForm.value)">
  <div class="container">
    <img src="./assets/people.png" />
    <div class="form">
      <div class="field">

        <input ngModel name="name" placeholder="Nom"  type="text" />
      </div>
      <div class="field">

        <input ngModel name="surname" placeholder="Prénom" type="text" />
      </div>
      <div class="field">

        <input ngModel name="email" placeholder="Email"  type="email" />
      </div>
      <div class="field">
        <input ngModel name="address" placeholder="Adresse"  type="text" />
      </div>
      <div class="field">
     
        <input ngModel name="phoneNumber" placeholder="Téléphone"  type="tel" />
      </div>
      <button>Ajouter utilisateur</button>
    </div>
  </div>
</form>
